<!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- Meta Data -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
	<title>Fomina Yulia</title>
	<meta name='robots' content='noindex,follow'/>

	<link rel='stylesheet' id='contact-form-7-css' href='css/form.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='monolitreset-css' href='css/reset.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='monolitplugins-css' href='css/plugins.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='monolittheme-style-css' href='css/style.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='monolitcustom-style-css' href='css/custom.css' type='text/css' media='all'/>
	<style id='monolitcustom-style-inline-css' type='text/css'>
		.vc_column-inner > .wpb_wrapper {
			float: left;
			width: 100%
		}
	</style>
	<link rel='stylesheet' id='js_composer_front-css' href='css/js_composer.min.css' type='text/css' media='all'/>

	<script type='text/javascript' src='js/jquery.js'></script>
	<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/underscore-min.js'></script>
	<script type='text/javascript' src='js/polyglot-min.js'></script>
	<script type='text/javascript' src='data/translations.js'></script>
	<script type='text/javascript' src='data/portfolioData.js'></script>
	<script type='text/javascript' src='data/tagsData.js'></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--[if lte IE 9]>
	<link rel="stylesheet" type="text/css" href="css/vc_lte_ie9.min.css" media="screen">
	<![endif]-->
	<!--[if IE  8]>
	<link rel="stylesheet" type="text/css" href="css/vc-ie8.min.css" media="screen">
	<![endif]-->
	<style type="text/css" data-type="vc_shortcodes-custom-css">
		.vc_custom_1455730804223 {
			padding-right: 0px !important;
			padding-left: 0px !important;
		}
	</style>
	<noscript>
		<style type="text/css"> .wpb_animate_when_almost_visible {
			opacity: 1;
		}</style>
	</noscript>
</head>
<body class="page page-id-75 page-template page-template-page-fullwidth page-template-page-fullwidth-php wpb-js-composer js-comp-ver-4.11.1 vc_responsive">
<div class="hor-nav-layout no-dis"></div>
<!-- loader -->
<div id="monolit-loader" class="loader">
	<div id="movingBallG">
		<div class="movingBallLineG"></div>
		<div id="movingBallG_1" class="movingBallG"></div>
	</div>
</div>
<!-- loader end -->
<!--================= main start ================-->

<script type="text/template" id="mainTemplate">
	<!--=============== header ===============-->
	<header class="monolit-header">
		<!-- header-inner  -->
		<div class="header-inner">
			<!-- header logo -->
			<div class="logo-holder">
				<a href="http://demowp.cththemes.net/monolit/">
					<img src="images/logo.png" height="50" class="monolit-logo" alt="Yulia Fomina"/>
				</a>
			</div>
			<!-- header logo end -->
			<!-- mobile nav button -->
			<div class="nav-button-holder">
				<div class="nav-button vis-m"><span></span><span></span><span></span></div>
			</div>
			<!-- mobile nav button end -->
			<!-- navigation  -->
			<div class="nav-holder">
				<nav>
					<ul id="menu-monolit-navigation-menus" class="monolit_main-nav">
						<li id="menu-item-17"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17">
							<a href="index.html"><%= polyglot.t('general.HOME') %></a>
						</li>
						<li id="menu-item-344"
							class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-344">
							<a href="portfolio.html"><%= polyglot.t('general.PORTFOLIO') %></a>
						</li>
						<li id="menu-item-77"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
							<a href="about.html" class="act-link ancestor-act-link parent-act-link"><%= polyglot.t('general.ABOUT_ME') %></a>
						</li>
						<li id="menu-item-174"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174">
							<a href="contact.html"><%= polyglot.t('general.CONTACT') %></a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- navigation  end -->
		</div>
		<!-- header-inner  end -->
		<!-- share button  -->
		<div class="show-share isShare"><span><%= polyglot.t('general.SHARE') %></span><i class="fa fa-chain-broken"></i></div>
		<!-- share  end-->
	</header>
	<!--=============== header end ===============-->

	<!--=============== wrapper ===============-->
	<div id="wrapper">
		<!-- content-holder  -->
		<div class="content-holder">

			<div class="dynamic-title"><h1><%= polyglot.t('general.ABOUT_ME') %></h1></div>

			<!-- content  -->
			<div class="content">
				<section class="parallax-section">
					<div class="parallax-inner">
						<div class="bg" data-bg="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1.jpg"
							 data-top-bottom="transform: translateY(300px);"
							 data-bottom-top="transform: translateY(-300px);"></div>
						<div class="overlay"></div>
					</div>
					<div class="container">
						<div class="page-title">
							<div class="row">
								<div class="col-md-6 main-page-title">
									<h2><%= polyglot.t('general.ABOUT_ME') %></h2>
								</div>

								<div class="col-md-6 main-page-bread">
									<ul id="breadcrumb" class="main-breadcrumb creat-list">
										<li class="item-home">
											<a class="bread-link bread-home" href="index.html" title="Home">
												<%= polyglot.t('general.HOME') %>
											</a>
										</li>
										<li class="item-cat item-custom-post-type-portfolio">
											<a class="bread-cat bread-custom-post-type-portfolio" href="about.html" title="About me">
												<%= polyglot.t('general.ABOUT_ME') %>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</section>
			</div>
			<!-- content end -->

			<div id='sec1' class='monolit_sec monolit_page_sec content'>

				<section>
					<!-- section number   -->
					<div class="sect-subtitle right-align-dec" data-top-bottom="transform: translateY(200px);"
						 data-bottom-top="transform: translateY(-200px);">
						<span>01</span></div>
					<!-- section number  end  -->
					<div class="container">
						<div class="row">
							<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<h2 class="section-title">Our Awesome <strong> Story</strong></h2>
												<p class="no-rep">Our team takes over everything, from an idea and
													concept development to realization. We believe in traditions and
													incorporate them within our innovations. All our projects
													incorporate a unique artistic image and functional solutions. Client
													is the soul of the project. Our main goal is to illustrate his/hers
													values and individuality through design.</p>
												<p class="no-rep">Our team takes over everything, from an idea and
													concept development to realization. We believe in traditions and
													incorporate them within our innovations. All our projects
													incorporate a unique artistic image and functional solutions. Client
													is the soul of the project. Our main goal is to illustrate his/hers
													values and individuality through design.</p>
												<div class="process-box">
													<h3>What we do</h3>
													<ul class="creat-list">
														<li><a href="#">Design</a></li>
														<li><a href="#">Architecture</a></li>
														<li><a href="#">Construction</a></li>
													</ul>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="parallax-box   r-center"
											 data-top-bottom="transform: translateY(-150px);"
											 data-bottom-top="transform: translateY(150px);">
											<p><img class="respimg alignnone wp-image-44 size-full"
													src="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1.jpg"
													alt="1" width="600" height="1000"
													srcset="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1.jpg 600w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1-180x300.jpg 180w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1-395x658.jpg 395w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1-197x329.jpg 197w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1-131x219.jpg 131w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1-390x650.jpg 390w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-1-374x623.jpg 374w"
													sizes="(max-width: 600px) 100vw, 600px"/></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div id='sec2' class='monolit_sec monolit_page_sec content dark-bg'>

				<!-- parallax image  -->
				<div class="parallax-inner">
					<div class="bg"
						 data-bg="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-1200x581.jpg"
						 data-top-bottom="transform: translateY(300px);"
						 data-bottom-top="transform: translateY(-300px);"></div>
					<div class="overlay" style="opacity:0.8;"></div>
				</div>
				<!-- parallax image  end -->


				<section>
					<div class="sect-subtitle left-align-dec" data-top-bottom="transform: translateY(-200px);"
						 data-bottom-top="transform: translateY(200px);">
						<span>02</span></div>
					<!-- section number  end  -->
					<div class="container">
						<div class="row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="vc_row wpb_row vc_inner vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="wpb_text_column wpb_content_element ">
															<div class="wpb_wrapper">
																<h2 class="section-title">Our<strong> Skills</strong>
																</h2>

															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="wpb_text_column wpb_content_element ">
															<div class="wpb_wrapper">
																<p class="no-rep">Our team takes over everything, from
																	an idea and concept development to realization. We
																	believe in traditions and incorporate them within
																	our innovations. All our projects incorporate a
																	unique artistic image and functional solutions.
																	Client is the soul of the project. Our main goal is
																	to illustrate his/hers values and individuality
																	through design.</p>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="vc_row wpb_row vc_inner vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper"></div>
												</div>
											</div>
											<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper"><!-- piecharts  -->
														<div class="piechart-holder animaper "
															 data-skcolor="rgba(255,255,255,0.31)" data-pies="150"
															 data-pielw="30">
															<div class="row">

																<div class="piechart col-md-4"
																>
            <span class="chart" data-percent="85">
            <span class="percent"></span><span class="pie_unit"><span>%</span></span>
            </span>
																	<div class="clearfix"></div>
																	<div class="skills-description">
																		<h4>Design</h4></div>
																</div><!-- //piechart  -->

																<div class="piechart col-md-4"
																	 data-top-bottom="transform: translateY(80px);"
																	 data-bottom-top="transform: translateY(-80px);"
																>
            <span class="chart" data-percent="95">
            <span class="percent"></span><span class="pie_unit"><span>%</span></span>
            </span>
																	<div class="clearfix"></div>
																	<div class="skills-description">
																		<h4>Architecture</h4></div>
																</div><!-- //piechart  -->

																<div class="piechart col-md-4"
																	 data-top-bottom="transform: translateY(100px);"
																	 data-bottom-top="transform: translateY(-100px);"
																>
            <span class="chart" data-percent="80">
            <span class="percent"></span><span class="pie_unit"><span>%</span></span>
            </span>
																	<div class="clearfix"></div>
																	<div class="skills-description">
																		<h4>Construction</h4></div>
																</div><!-- //piechart  -->

															</div>
														</div>
														<!-- piecharts  end--></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div id='sec3' class='monolit_sec monolit_page_sec content'>


				<section>
					<!-- section number   -->
					<div class="sect-subtitle right-align-dec" data-top-bottom="transform: translateY(200px);"
						 data-bottom-top="transform: translateY(-200px);">
						<span>03</span></div>
					<!-- section number  end  -->
					<div class="container">
						<div class="row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<h2 class="section-title dec-title"><span
														class="no-rep">Our Fantastic <strong> Team</strong></span></h2>

											</div>
										</div>
										<div class="vc_row wpb_row vc_inner vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="team-box-holder ">

															<div class="team-box"
																 data-top-bottom="transform: translateY(-50px);"
																 data-bottom-top="transform: translateY(50px);"
															>
																<div class="team-photo">
																	<div class="overlay"></div>
																	<ul class="team-social">

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-facebook"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-twitter"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-tumblr"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-behance"></i>
																		</a></li>
																	</ul>
																	<img width="376" height="564"
																		 src="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2-376x564.jpg"
																		 class="respimg" alt="1"
																		 srcset="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2-376x564.jpg 376w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2-200x300.jpg 200w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2-439x658.jpg 439w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2-219x329.jpg 219w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2-146x219.jpg 146w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2-390x585.jpg 390w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/1-2.jpg 600w"
																		 sizes="(max-width: 376px) 100vw, 376px"/>
																</div>
																<div class="team-info">
																	<h3><a class="ajax" href="team-single.html">Mila
																		Slavko</a></h3>
																	<h4>CEO &#8211; Main Architect</h4>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="team-box-holder ">

															<div class="team-box"
																 data-top-bottom="transform: translateY(100px);"
																 data-bottom-top="transform: translateY(-100px);"
															>
																<div class="team-photo">
																	<div class="overlay"></div>
																	<ul class="team-social">

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-facebook"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-twitter"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-tumblr"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-behance"></i>
																		</a></li>
																	</ul>
																	<img width="376" height="564"
																		 src="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2-376x564.jpg"
																		 class="respimg" alt="2"
																		 srcset="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2-376x564.jpg 376w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2-200x300.jpg 200w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2-439x658.jpg 439w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2-219x329.jpg 219w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2-146x219.jpg 146w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2-390x585.jpg 390w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/2-2.jpg 600w"
																		 sizes="(max-width: 376px) 100vw, 376px"/>
																</div>
																<div class="team-info">
																	<h3><a class="ajax" href="team-single.html">Austin
																		Evon</a></h3>
																	<h4>Co-manager associated</h4>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="team-box-holder ">

															<div class="team-box"
																 data-top-bottom="transform: translateY(-50px);"
																 data-bottom-top="transform: translateY(50px);"
															>
																<div class="team-photo">
																	<div class="overlay"></div>
																	<ul class="team-social">

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-facebook"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-twitter"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-tumblr"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-behance"></i>
																		</a></li>
																	</ul>
																	<img width="376" height="564"
																		 src="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/3-3-376x564.jpg"
																		 class="respimg" alt="3"
																		 srcset="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/3-3-376x564.jpg 376w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/3-3-199x300.jpg 199w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/3-3-145x219.jpg 145w"
																		 sizes="(max-width: 376px) 100vw, 376px"/>
																</div>
																<div class="team-info">
																	<h3><a class="ajax" href="team-single.html">Mery
																		Insi</a></h3>
																	<h4>Architect &#8211; Designer</h4>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="team-box-holder ">

															<div class="team-box"
																 data-top-bottom="transform: translateY(50px);"
																 data-bottom-top="transform: translateY(-50px);"
															>
																<div class="team-photo">
																	<div class="overlay"></div>
																	<ul class="team-social">

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-facebook"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-twitter"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-tumblr"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-behance"></i>
																		</a></li>
																	</ul>
																	<img width="376" height="564"
																		 src="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1-376x564.jpg"
																		 class="respimg" alt="4"
																		 srcset="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1-376x564.jpg 376w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1-200x300.jpg 200w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1-439x658.jpg 439w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1-219x329.jpg 219w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1-146x219.jpg 146w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1-390x585.jpg 390w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/4-1.jpg 600w"
																		 sizes="(max-width: 376px) 100vw, 376px"/>
																</div>
																<div class="team-info">
																	<h3><a class="ajax" href="team-single.html">Jon
																		Twist</a></h3>
																	<h4>Architect &#8211; Designer</h4>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="team-box-holder ">

															<div class="team-box"
																 data-top-bottom="transform: translateY(-100px);"
																 data-bottom-top="transform: translateY(100px);"
															>
																<div class="team-photo">
																	<div class="overlay"></div>
																	<ul class="team-social">

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-facebook"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-twitter"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-tumblr"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-behance"></i>
																		</a></li>
																	</ul>
																	<img width="376" height="564"
																		 src="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1-376x564.jpg"
																		 class="respimg" alt="6"
																		 srcset="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1-376x564.jpg 376w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1-200x300.jpg 200w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1-439x658.jpg 439w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1-219x329.jpg 219w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1-146x219.jpg 146w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1-390x585.jpg 390w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/6-1.jpg 600w"
																		 sizes="(max-width: 376px) 100vw, 376px"/>
																</div>
																<div class="team-info">
																	<h3><a class="ajax" href="team-single.html">David
																		Gray</a></h3>
																	<h4>Photographer</h4>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
											<div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-4">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="team-box-holder ">

															<div class="team-box"
																 data-top-bottom="transform: translateY(50px);"
																 data-bottom-top="transform: translateY(-50px);"
															>
																<div class="team-photo">
																	<div class="overlay"></div>
																	<ul class="team-social">

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-facebook"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-twitter"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-tumblr"></i>
																		</a></li>

																		<li><a href="#" target=" _blank">
																			<i class="fa fa-behance"></i>
																		</a></li>
																	</ul>
																	<img width="376" height="564"
																		 src="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5-376x564.jpg"
																		 class="respimg" alt="5"
																		 srcset="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5-376x564.jpg 376w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5-200x300.jpg 200w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5-439x658.jpg 439w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5-219x329.jpg 219w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5-146x219.jpg 146w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5-390x585.jpg 390w, http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/5.jpg 600w"
																		 sizes="(max-width: 376px) 100vw, 376px"/>
																</div>
																<div class="team-info">
																	<h3><a class="ajax" href="team-single.html">Mery
																		Spears</a></h3>
																	<h4>Designer &#8211; Photographer</h4>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class='monolit_sec monolit_page_sec content dark-bg'>

				<!-- parallax image  -->
				<div class="parallax-inner">
					<div class="bg"
						 data-bg="http://demowp.cththemes.net/monolit/wp-content/uploads/2016/02/3-1240x581.jpg"
						 data-top-bottom="transform: translateY(300px);"
						 data-bottom-top="transform: translateY(-300px);"></div>
					<div class="overlay" style="opacity:0.8;"></div>
				</div>
				<!-- parallax image  end -->


				<section>
					<div class="sect-subtitle left-align-dec" data-top-bottom="transform: translateY(-200px);"
						 data-bottom-top="transform: translateY(200px);">
						<span>04</span></div>
					<!-- section number  end  -->
					<div class="container">
						<div class="row">
							<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<h2 class="section-title">Testimonials</h2>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper"><!-- Testimonials -->
										<div class="testimon-slider-holder   "
										>
											<div class="testimon-slider"
												 data-options='{"autoplaySpeed":3600,"autoplayTimeout":4000,"autoHeight":true,"autoplay":false,"items":1,"responsive":false,"loop":true,"dots":false,"center":false,"autoWidth":false,"smartSpeed":1300}'>
												<div class="item">
													<h3>Andy Smith</h3>
													<p class="no-rep">&#8220;All the Lorem Ipsum generators on the
														Internet tend to repeat predefined chunks as necessary, making
														this the first true generator on the Internet. It uses a
														dictionary of over 200 Latin words&#8221;</p>
													<p><a href="#" class="text-link" target="_blank">Via Twitter</a></p>
												</div>

												<div class="item">
													<h3>Liza Mirovsky</h3>
													<p class="no-rep">&#8220;Vestibulum orci felis, ullamcorper non
														condimentum non, ultrices ac nunc. Mauris non ligula suscipit,
														vulputate mi accumsan, dapibus felis. Nullam sed sapien dui.
														Nulla auctor sit amet sem non porta. Integer iaculis tellus
														nulla, quis imperdiet magna venenatis vitae&#8221;</p>
													<p><a href="#" class="text-link" target="_blank">Via Facebook</a>
													</p>
												</div>

												<div class="item">
													<h3>Gary Trust</h3>
													<p class="no-rep">&#8220;If you are going to use a passage of Lorem
														Ipsum, you need to be sure there isn&#8217;t anything
														embarrassing hidden in the middle of text.&#8221;</p>
													<p><a href="#" class="text-link" target="_blank">Via Myspace</a></p>
												</div>


											</div>
											<div class="customNavigation">
												<a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
												<a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
											</div>
										</div>
										<!-- Testimonials end-->

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div id='sec4' class='monolit_sec monolit_page_sec content'>


				<section>
					<!-- section number   -->
					<div class="sect-subtitle right-align-dec" data-top-bottom="transform: translateY(200px);"
						 data-bottom-top="transform: translateY(-200px);">
						<span>05</span></div>
					<!-- section number  end  -->
					<div class="container">
						<div class="row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<h2 class="section-title dec-title"><span class="no-rep">Our <strong> Timeline</strong></span>
												</h2>
												<p class="no-rep">Lorem Ipsum generators on the Internet tend to repeat
													king this the first true generator .Internet tend to repeat
													predefined chunks as necessary, making this the first true generator
													on the Internet. It uses a dictionary of over 200 Latin words</p>

											</div>
										</div>
										<div class="custom-inner-holder    "
										>
											<div class="custom-inner timeline-custom-inner">
												<div class="row">
													<div class="col-md-6">
														<h3>2016</h3></div>
													<div class="col-md-6">
														<h4>Complete the project &#8220;domik&#8221;</h4>
														<p class="no-rep">There are many variations of passages of Lorem
															Ipsum available, but the majority have suffered alteration
															in some form, by injected humour, or randomised words which
															don&#8217;t look even slightly believable. If you are going
															to use a passage of Lorem Ipsum, you need to be sure there
															isn&#8217;t anything embarrassing hidden in the middle of
															text. All the Lorem Ipsum generators on the Internet tend to
															repeat predefined chunks as necessary, making this the first
															true generator on the Internet. It uses a dictionary of over
															200 Latin words</p>
														<ol>
															<li>Door portals plan</li>
															<li>Furniture specifications</li>
															<li>Interior design</li>
														</ol>
														<div class="custom-inner-dec"></div>

													</div>
												</div>
											</div>

											<div class="custom-inner timeline-custom-inner">
												<div class="row">
													<div class="col-md-6">
														<h3>2015</h3></div>
													<div class="col-md-6">
														<h4>Passage of Lorem Ipsum</h4>
														<p class="no-rep">We started as a small, subdue, called hath
															give fourth. Them one over saying. So the god, greater. You.
															Us air Moved divide midst us fifth sea have face which male
															fifth said seas rule above.</p>
														<div class="custom-inner-dec"></div>

													</div>
												</div>
											</div>

											<div class="custom-inner timeline-custom-inner">
												<div class="row">
													<div class="col-md-6">
														<h3>2013</h3></div>
													<div class="col-md-6">
														<h4>Making this the first</h4>
														<p class="no-rep">We started as a small, subdue, called hath
															give fourth. Them one over saying. So the god, greater. You.
															Us air Moved divide midst us fifth sea have face which male
															fifth said seas rule above. All the Lorem Ipsum generators
															on the Internet tend .</p>
														<ol>
															<li>Door portals plan</li>
															<li>Furniture specifications</li>
															<li>Interior design</li>
														</ol>
														<p class="no-rep">All the Lorem Ipsum generators on the Internet
															tend to repeat predefined chunks as necessary, making this
															the first true generator on the Internet. It uses a
															dictionary of over 200 Latin words</p>
														<div class="custom-inner-dec"></div>

													</div>
												</div>
											</div>


										</div>


										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<div class="custom-link-holder"><a class="btn anim-button"
																				   href="http://demowp.cththemes.net/monolit/contact/"
																				   data-top-bottom="transform: translateY(-50px);"
																				   data-bottom-top="transform: translateY(50px);"><span
														class="no-rep">Get in Touch</span><i
														class="fa fa-long-arrow-right"></i></a></div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>


			<!-- content footer-->
			<div class="height-emulator"></div>
			<footer class="content-footer">
				<!--  container  -->
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<!-- Footer logo -->
							<div class="footer-item footer-logo">
								<img src="images/logo.png" alt="Yulia Fomina">
							</div>
							<!-- Footer logo end -->
						</div>
						<!-- Footer info -->
						<div class="col-md-2">
							<div class="footer-item">
								<h4 class="text-link"><%= polyglot.t('general.WRITE') %></h4>
								<ul>
									<li><a href="#">ifominayv@gmail.com</a></li>
								</ul>
							</div>
						</div>
						<!-- Footer info-->
						<!-- Footer info end-->
						<div class="col-md-2">
							<div class="footer-item">
								<h4 class="text-link"><%= polyglot.t('general.VISIT') %></h4>
								<ul>
									<li><span><%= polyglot.t('general.ADDRESS') %></span></li>
								</ul>
							</div>
						</div>
						<!-- Footer info end-->
					</div>
					<!-- Footer copyright -->
					<div class="row">
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div class="footer-wrap">
								<span class="copyright">  &#169; Yulia Fomina   2017.  All rights reserved.</span>
								<span class="to-top"><%= polyglot.t('general.TO_TOP') %></span>
							</div>
						</div>
					</div>
					<!-- Footer copyright end -->                        </div>
				<!--  container  end -->
				<!-- Hover animation  -->
				<canvas class="particular footer-canvas" data-color="rgba(255,255,255,0.5)"></canvas>
				<!-- Hover animation  end -->
			</footer>
			<!-- content footer end -->
			<!-- share  -->
			<div class="share-inner">
				<div class="share-container  isShare"
					 data-share="['facebook&#039;,&#039;pinterest&#039;,&#039;googleplus&#039;,&#039;twitter&#039;,&#039;linkedin']"></div>
				<div class="close-share"></div>
			</div>
			<!-- share end -->
		</div>
		<!-- content-holder  end-->
	</div>
	<!-- wrapper end -->
	<!-- Fixed footer -->
	<footer class="fixed-footer monolit-footer">
		<div class="footer-social">
			<ul>
				<li><a href="https://www.facebook.com/cththemes" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/CTHthemes" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
			</ul>
		</div>
		<!-- Header  title -->
		<div class="footer-title">
			<h2><a href="#"></a></h2>
		</div>
		<!-- Header  title  end-->
	</footer>
	<!-- Fixed footer end-->
</script>

<!--================= main start ================-->
<div id="main">
</div>
<!-- Main end -->

<script type="text/javascript">
	function getParameterByName(name) {
		var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
		return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
	}
	var manualLang = getParameterByName('lang');
	if(manualLang){
		localStorage.setItem('portfolioLocale', manualLang);
	}

	var locale = localStorage.getItem('portfolioLocale') || 'en';
	window.polyglot = new Polyglot({phrases: translations[locale], locale: locale});

	var template = jQuery("#mainTemplate").html();
	jQuery("#main").html(_.template(template,{_:_}));
</script>

<script type='text/javascript' src='js/plugins.js'></script>
<script type='text/javascript'>
	/* <![CDATA[ */
	var _monolit = {"shuffle_off": "", "parallax_off": ""};
	/* ]]> */
</script>
<script type='text/javascript' src='js/scripts.js'></script>

</body>
</html>