<!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- Meta Data -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
	<title>Fomina Yulia</title>
	<meta name='robots' content='noindex,follow'/>

	<link rel='stylesheet' id='contact-form-7-css' href='css/form.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='monolitreset-css' href='css/reset.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='monolitplugins-css' href='css/plugins.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='monolittheme-style-css' href='css/style.css' type='text/css' media='all'/>
	<link rel="stylesheet" href="js/swiper/swiper.min.css" />
	<link rel='stylesheet' id='monolitcustom-style-css' href='css/custom.css' type='text/css' media='all'/>
	<style id='monolitcustom-style-inline-css' type='text/css'>
		.vc_column-inner > .wpb_wrapper {
			float: left;
			width: 100%
		}
	</style>
	<link rel='stylesheet' id='js_composer_front-css' href='css/js_composer.min.css' type='text/css' media='all'/>

	<script type='text/javascript' src='js/jquery.js'></script>
	<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/underscore-min.js'></script>
	<script type='text/javascript' src='js/polyglot-min.js'></script>
	<script type='text/javascript' src='data/translations.js'></script>
	<script type='text/javascript' src='data/portfolioData.js'></script>
	<script type='text/javascript' src='data/tagsData.js'></script>

	<script src="js/swiper/swiper.jquery.min.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--[if lte IE 9]>
	<link rel="stylesheet" type="text/css" href="css/vc_lte_ie9.min.css" media="screen">
	<![endif]-->
	<!--[if IE  8]>
	<link rel="stylesheet" type="text/css" href="css/vc-ie8.min.css" media="screen">
	<![endif]-->
	<style type="text/css" data-type="vc_shortcodes-custom-css">
		.vc_custom_1455730804223 {
			padding-right: 0px !important;
			padding-left: 0px !important;
		}
	</style>
	<noscript>
		<style type="text/css"> .wpb_animate_when_almost_visible {
			opacity: 1;
		}</style>
	</noscript>
</head>
<body class="home page page-id-7 page-template page-template-homepage page-template-homepage-php wpb-js-composer js-comp-ver-4.11.1 vc_responsive">
<div class="hor-nav-layout no-dis"></div>
<!-- loader -->
<div id="monolit-loader" class="loader">
	<div id="movingBallG">
		<div class="movingBallLineG"></div>
		<div id="movingBallG_1" class="movingBallG"></div>
	</div>
</div>
<!-- loader end -->

<script type="text/template" id="mainTemplate">
<!--=============== header ===============-->
<header class="monolit-header">
	<!-- header-inner  -->
	<div class="header-inner">
		<!-- header logo -->
		<div class="logo-holder">
			<a href="index.html">
				<img src="images/logo.png" height="50" class="monolit-logo" alt="Yulia Fomina"/>
			</a>
		</div>
		<!-- header logo end -->
		<!-- mobile nav button -->
		<div class="nav-button-holder">
			<div class="nav-button vis-m"><span></span><span></span><span></span></div>
		</div>
		<!-- mobile nav button end -->
		<!-- navigation  -->
		<div class="nav-holder">
			<nav>
				<ul id="menu-monolit-navigation-menus" class="monolit_main-nav">
					<li id="menu-item-17"
						class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item
								page-item-7 current_page_item current-menu-ancestor current-menu-parent current_page_parent
								current_page_ancestor menu-item-17">
						<a href="index.html" class="act-link ancestor-act-link parent-act-link"><%= polyglot.t('general.HOME') %></a>
					</li>
					<li id="menu-item-344"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-344">
						<a href="portfolio.html"><%= polyglot.t('general.PORTFOLIO') %></a>
					</li>
					<li id="menu-item-174"
						class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174">
						<a href="contact.html"><%= polyglot.t('general.CONTACT') %></a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- navigation  end -->
	</div>
	<!-- header-inner  end -->
	<!-- share button  -->
	<div class="show-share isShare"><span><%= polyglot.t('general.SHARE') %></span><i class="fa fa-chain-broken"></i></div>
	<!-- share  end-->
</header>
<!--=============== header end ===============-->

<!--=============== wrapper ===============-->
<div id="wrapper">
	<!-- content-holder  -->
	<div class="content-holder">

		<div class="dynamic-title"><h1><%= polyglot.t('general.HOME') %></h1></div>

		<div class='monolit_sec monolit_fulh_sec content full-height'>
			<div class="container-fluid full-height">
				<div class="row full-height ">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner vc_custom_1455730804223">
							<div class="wpb_wrapper"><!-- Hero section   -->
								<div class="hero-wrap hero-wrap-home-image">
									<!-- Hero image   -->
									<div class="bg"
										 data-bg="images/background.jpg"
										 data-top-bottom="transform: translateY(300px);"
										 data-bottom-top="transform: translateY(-300px);"
									></div>
									<!-- Hero image   end -->
									<div class="overlay" style="opacity:0.2;"></div>
									<!-- Hero text   -->
									<div class="hero-wrap-item center-item">
										<h2><%= polyglot.t('general.YULIA_FOMINA') %></h2>
										<h3><%= polyglot.t('general.DESIGNER') %></h3>
									</div>
									<!-- Hero text   end-->
									<a href="#sec1" class="hero-scroll-link custom-scroll-link"
									   data-top-bottom="transform: translateY(50px);"
									   data-bottom-top="transform: translateY(-50px);"><i
											class="fa fa-angle-down"></i></a>
								</div>
								<!-- Hero section   end --></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id='sec1' class='monolit_sec monolit_page_sec content'>


			<section>
				<!-- section number   -->
				<div class="sect-subtitle right-align-dec" data-top-bottom="transform: translateY(200px);"
					 data-bottom-top="transform: translateY(-200px);">
					<span>01</span></div>
				<!-- section number  end  -->
				<div class="container">
					<div class="row">
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">

									<!-- slider  -->
									<div class="parallax-box slider-box"
										 data-top-bottom="transform: translateY(-150px);"
										 data-bottom-top="transform: translateY(150px);"
									>
										<!-- Slider main container -->
										<div class="swiper-container">
											<!-- Additional required wrapper -->
											<div class="swiper-wrapper">
												<!-- Slides -->
												<div class="swiper-slide">
													<img width="374" height="623"
														 src="images/homepage1.jpg"
														 class="respimg" alt="3"
														 sizes="(max-width: 374px) 100vw, 374px"/>
												</div>
												<div class="swiper-slide">
													<img width="374" height="623"
														 src="images/homepage2.jpg"
														 class="respimg" alt="2"
														 sizes="(max-width: 374px) 100vw, 374px"/>
												</div>
												<div class="swiper-slide">
													<img width="374" height="623"
														 src="images/homepage3.jpg"
														 class="respimg" alt="1"
														 sizes="(max-width: 374px) 100vw, 374px"/>
												</div>
											</div>
											<!-- If we need pagination -->
											<!--<div class="swiper-pagination"></div>-->

											<!-- If we need navigation buttons -->
											<!--<div class="swiper-button-prev swiper-button-white"></div>
											<div class="swiper-button-next swiper-button-white"></div>-->

											<!-- If we need scrollbar -->
											<div class="swiper-scrollbar"></div>
										</div>

									</div>
									<!-- slider  end -->

								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<h2 class="section-title"><%= polyglot.t('index.SECTION_1_TITLE') %></h2>
											<p class="no-rep"><%= polyglot.t('index.SECTION_1_TEXT') %></p>
											<p class="no-rep"><%= polyglot.t('index.SECTION_1_TEXT_2') %></p>
											<p class="no-rep"><%= polyglot.t('index.SECTION_1_TEXT_3') %></p>
											<div class="process-box">
												<div><a class="btn anim-button fl-l" href="portfolio.html">
													<span class="no-rep"><%= polyglot.t('index.SECTION_1_VIEW_PORTFOLIO') %></span>
													<i class="fa fa-long-arrow-right"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div id='sec2' class='monolit_sec monolit_page_sec content dark-bg'>

			<!-- parallax image  -->
			<div class="parallax-inner">
				<div class="bg"
					 data-bg="images/background.jpg"
					 data-top-bottom="transform: translateY(300px);"
					 data-bottom-top="transform: translateY(-300px);"></div>
				<div class="overlay" style="opacity:0.8;"></div>
			</div>
			<!-- parallax image  end -->

			<section>
				<div class="sect-subtitle left-align-dec" data-top-bottom="transform: translateY(-200px);"
					 data-bottom-top="transform: translateY(200px);">
					<span>02</span></div>
				<!-- section number  end  -->
				<div class="container">
					<div class="row">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="vc_row wpb_row vc_inner vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<h2 class="section-title"><%= polyglot.t('index.SECTION_2_TITLE') %></h2>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p class="no-rep"><%= polyglot.t('index.SECTION_2_TEXT') %></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="vc_row wpb_row vc_inner vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper"></div>
											</div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper"><!-- piecharts  -->
													<div class="piechart-holder animaper "
														 data-skcolor="rgba(255,255,255,0.31)" data-pies="150"
														 data-pielw="30">
														<div class="row">

															<div class="piechart col-md-4">
																<span class="chart" data-percent="85">
																	<span class="percent"></span><span class="pie_unit"><span>%</span></span>
																</span>
																<div class="clearfix"></div>
																<div class="skills-description">
																	<h4><%= polyglot.t('index.SECTION_2_SKILL_1') %></h4></div>
															</div><!-- //piechart  -->

															<div class="piechart col-md-4"
																 data-top-bottom="transform: translateY(80px);"
																 data-bottom-top="transform: translateY(-80px);"
															>
																<span class="chart" data-percent="95">
																	<span class="percent"></span><span class="pie_unit"><span>%</span></span>
																</span>
																<div class="clearfix"></div>
																<div class="skills-description">
																	<h4><%= polyglot.t('index.SECTION_2_SKILL_2') %></h4></div>
															</div><!-- //piechart  -->

															<div class="piechart col-md-4"
																 data-top-bottom="transform: translateY(100px);"
																 data-bottom-top="transform: translateY(-100px);"
															>
																<span class="chart" data-percent="80">
																	<span class="percent"></span><span class="pie_unit"><span>%</span></span>
																</span>
																<div class="clearfix"></div>
																<div class="skills-description">
																	<h4><%= polyglot.t('index.SECTION_2_SKILL_3') %></h4></div>
															</div><!-- //piechart  -->

														</div>
													</div>
													<!-- piecharts  end--></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class='monolit_sec monolit_page_sec content'>
			<section>
				<!-- section number   -->
				<div class="sect-subtitle right-align-dec" data-top-bottom="transform: translateY(200px);"
					 data-bottom-top="transform: translateY(-200px);">
					<span>03</span></div>
				<!-- section number  end  -->
				<div class="container">
					<div class="row">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<h2 class="section-title algn-right dec-title"><span class="no-rep"><%= polyglot.t('index.SECTION_3_TITLE') %></span></h2>
										</div>
									</div>

									<% _.each(portfolioData, function(item, key){ %>
										<% if(key < 3) { %>
											<div class="row">
												<% if(key % 2 != 0) { %>
													<div class="col-md-5"></div>
												<% } %>

												<div class="col-md-7">
													<% if(key % 2 == 0) { %>
														<div class="parallax-item left-direction">
													<% } else { %>
														<div class="parallax-item right-direction">
													<% } %>
														<div class="paralax-media">
															<ul class="creat-list">
																<% _.each(item.tags, function(tag, key){ %>
																	<li>
																		<a href="#"><%= tagsData[tag][polyglot.locale()] %></a>
																	</li>
																<% }); %>
															</ul>

															<div class="paralax-wrap">
																<img width="678" height="437"
																	 src="projects/<%= item.folder %>/<%= item.previewImage %>"
																	 class="respimg wp-post-image" alt="Image Title"
																	 sizes="(max-width: 678px) 100vw, 678px"/>
															</div>
														</div>
														<div class="parallax-deck"
															 data-top-bottom="transform: translateY(-200px);"
															 data-bottom-top="transform: translateY(200px);">
															<div class="parallax-deck-item">
																<h3 class="folio-title"><%= item.name[polyglot.locale()] %></h3>
																<a href="item.html?itemID=<%= key + 1 %>" class="btn anim-button fl-l">
																	<span><%= polyglot.t('index.SECTION_3_VIEW') %></span><i class="fa fa-long-arrow-right"></i>
																</a>
															</div>
														</div>
													</div>
												</div>

												<% if(key % 2 == 0) { %>
													<div class="col-md-5"></div>
												<% } %>
											</div>
										<% } %>
									<% }); %>

									<!-- custom-link-holder  -->
									<div class="custom-link-holder">
										<a href="portfolio.html"
										   class="btn anim-button" data-top-bottom="transform: translateY(-50px);"
										   data-bottom-top="transform: translateY(50px);"><span><%= polyglot.t('index.SECTION_3_VIEW_ALL') %></span><i
												class="fa fa-long-arrow-right"></i></a>
									</div>
									<!-- custom-link-holder  end -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- end site wrapper -->

		<!-- content footer-->
		<div class="height-emulator"></div>
		<footer class="content-footer">
			<!--  container  -->
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<!-- Footer logo -->
						<div class="footer-item footer-logo">
							<img src="images/logo.png" alt="Yulia Fomina">
						</div>
						<!-- Footer logo end -->
					</div>
					<!-- Footer info -->
					<div class="col-md-2">
						<div class="footer-item">
							<h4 class="text-link"><%= polyglot.t('general.WRITE') %></h4>
							<ul>
								<li><a href="mailto:ifominayv@gmail.com">ifominayv@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer info-->
					<!-- Footer info end-->
					<div class="col-md-2">
						<div class="footer-item">
							<h4 class="text-link"><%= polyglot.t('general.VISIT') %></h4>
							<ul>
								<li><span><%= polyglot.t('general.ADDRESS') %></span></li>
							</ul>
						</div>
					</div>
					<!-- Footer info end-->
				</div>
				<!-- Footer copyright -->
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<div class="footer-wrap">
            				<span class="copyright">  &#169; Yulia Fomina   2017.  All rights reserved.</span>
							<span class="to-top"><%= polyglot.t('general.TO_TOP') %></span>
						</div>
					</div>
				</div>
				<!-- Footer copyright end -->                        </div>
			<!--  container  end -->
			<!-- Hover animation  -->
			<canvas class="particular footer-canvas" data-color="rgba(255,255,255,0.5)"></canvas>
			<!-- Hover animation  end -->
		</footer>
		<!-- content footer end -->
		<!-- share  -->
		<div class="share-inner">
			<div class="share-container  isShare"
				 data-share="['facebook&#039;,&#039;pinterest&#039;,&#039;googleplus&#039;,&#039;twitter&#039;,&#039;linkedin']"></div>
			<div class="close-share"></div>
		</div>
		<!-- share end -->
	</div>
	<!-- content-holder  end-->
</div>
<!-- wrapper end -->
<!-- Fixed footer -->
<footer class="fixed-footer monolit-footer">
	<div class="footer-social">
		<ul>
			<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
		</ul>
	</div>
	<!-- Header  title -->
	<div class="footer-title">
		<h2><a href="#"></a></h2>
	</div>
	<!-- Header  title  end-->
</footer>
<!-- Fixed footer end-->
</script>

<!--================= main start ================-->
<div id="main">
</div>
<!-- Main end -->

<script type="text/javascript">
	function getParameterByName(name) {
		var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
		return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
	}
	var manualLang = getParameterByName('lang');
	if(manualLang){
		localStorage.setItem('portfolioLocale', manualLang);
	}

	var locale = localStorage.getItem('portfolioLocale') || 'en';
	window.polyglot = new Polyglot({phrases: translations[locale], locale: locale});

	var template = jQuery("#mainTemplate").html();
	jQuery("#main").html(_.template(template,{portfolioData:portfolioData, tagsData:tagsData, _:_}));

	var mySwiper = new Swiper ('.swiper-container', {
		loop: false,
		scrollbar: '.swiper-scrollbar',
		scrollbarHide: false,
		scrollbarDraggable: true,
		scrollbarSnapOnRelease: true
	})
</script>

<script type='text/javascript' src='js/plugins.js'></script>
<script type='text/javascript'>
	/* <![CDATA[ */
	var _monolit = {"shuffle_off": "", "parallax_off": ""};
	/* ]]> */
</script>
<script type='text/javascript' src='js/scripts.js'></script>

</body>
</html>